@define-color base      #1e1e2e;
@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color text      #cdd6f4;
@define-color lavender  #b4befe;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 18px;
    border: none;
}

#window {
    background-color: transparent;
}

#outer-box {
    background-color: @base;
    border: 2px solid @mauve;
    border-radius: 25px;
    margin: 10px;
    padding: 15px;
}

#input {
    background-color: @surface0;
    color: #c0caf5;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 25px;
}

#input:focus {
    box-shadow: 0 0 0 2px @mauve;
}

#scroll {
    margin-top: 5px;
}

#entry {
    padding: 8px 15px;
    border-radius: 25px;
    color: #c0caf5;
    background-color: transparent;
}

#entry:selected {
    background-color: #7aa2f7;
}

#text:selected {
    color: #1a1b26;
}

#text {
    padding: 0px 5px;
}
