@define-color base      #1e1e2e;
@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color text      #cdd6f4;
@define-color lavender  #b4befe;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
}

/* Window */
window {
  margin: 0;
  padding: 10px;
  border: 2px solid @lavender;
  border-radius: 8px;
  background-color: @base;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Layout Containers */
#outer-box,
#inner-box,
#scroll {
  background-color: @base;
  border: none;
  margin: 5px;
  padding: 10px;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: @text;
  background-color: @surface0;
}

/* Entries */
#entry {
  background-color: @base;
  border: none;
  border-radius: 4px;
}

#entry:selected {
  border: 2px solid @lavender;
  background-color: @surface1;
}

#entry:selected #text {
  color: @mauve;
}

/* Text */
#text {
  margin: 4px;
  color: @text;
}
